.navi{
    background: transparent !important;
}

img{
    width: 1em;
    height: 1em;
}
.d-flex,.me-2,.btn{
    float: right !important;
}
.white{
    background-color: aliceblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block !important;
  }
  
  li {
    float: left;
  }
  
  .list a {
    display: block;
    padding: 8px;
    color: antiquewhite;
  }
  .red{
    background-color: #eb1c1c;
  }
 .main{
    grid-template-columns: 60% 40%;
 }